<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Solicitações em aberto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let item of items" >
    <ion-row>
      <ion-col col-6 class="ion-no-padding">
        <ion-card tappable (click)="goToSolicitacao(this.item.id)" *ngIf="item.status ===null">

           <ion-card-header>
            Item Id: {{item.id}}
          </ion-card-header>
          <ion-card-content>
            Descricao : {{item.descricao}}
          </ion-card-content>

        </ion-card>          
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
