<ion-content [fullscreen]="true" *ngIf="item">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <h3>Detalhe Solicitação</h3>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-item>
      <ion-label> Nome do solicitante: </ion-label>
      <ion-input value="{{item.solicitante}}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nome do material: </ion-label>
      <ion-input value="{{item.descricao}}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Valor R$: </ion-label>
      <ion-input value="{{item.preco}}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Marcar Status</ion-label>
      <ion-select interface="popover" [(ngModel)]="item.status">
        <ion-select-option [value]="true">Aprovado</ion-select-option>
        <ion-select-option [value]="false">Negado</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="item.status ===true">
      <ion-button color="success" (click)="btnEnviar()">Aprovar</ion-button>
      <ion-label position="floating">Motivo:</ion-label>
      <ion-textarea [(ngModel)]="item.motivo"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="item.status === false">
      <ion-label position="floating">Motivo:</ion-label>
      <ion-textarea [(ngModel)]="item.motivo"></ion-textarea>
      <ion-item *ngIf="item.motivo">
      <ion-button color="danger" (click)="btnEnviar()">Negar</ion-button>
    </ion-item>
    </ion-item>
  </div>
</ion-content>