<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h3>Detalhe Solicitação Id: </h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Aprovar / Negar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div>
    
      <ion-item>
        <ion-label>Nome do material:</ion-label>
        <ion-input value="aaa" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nome do solicitante:</ion-label> 
        <ion-input value="Readonly Nome" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Valor R$:</ion-label>
        <ion-input value="Readonly Valor" readonly></ion-input>
      </ion-item>
   
  </div>

</ion-content>
